.idea/*
*.wav
*.csv
.ipynb_checkpoints/*
*/__pycache__/*
RhythmRecognition/onset/__pycache__/
RhythmRecognition/tempo/__pycache__/
RhythmRecognition/beat/__pycache__/
RhythmRecognition/rhythm/__pycache__/
venv